[Unit]
Description=YTStream Streaming Service

[Service]
User=ytstream
WorkingDirectory=/opt/ytstream
ExecStart=/opt/ytstream/svc_stream.sh
Restart=always

[Install]
WantedBy=default.target
