[Unit]
Description=YTStream Audio Service

[Service]
User=ytstream
WorkingDirectory=/opt/ytstream
ExecStart=/opt/ytstream/svc_audio.sh
Restart=always

[Install]
WantedBy=default.target
