[Unit]
Description=YTStream Audio Service
After=pulseaudio.service
Requires=pulseaudio.service

[Service]
WorkingDirectory=/opt/ytstream
ExecStart=/opt/ytstream/svc_audio.sh
Restart=always

[Install]
WantedBy=default.target
